.intro {
    padding-left: 4.5vw;
    padding-top: 5vh;
    background-color: white;
    text-align: left;
    height: 50vh;
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
}

.intro h1 {
    display: flex;
    align-items: center;
    color: #333;
    font-size: 2.5em;
}

.intro h1 img {
    width: 8vw;
    height: 9vh;
}

.intro p {
    color: #666;
    font-size: 1.5em;
    line-height: 1.5;
    width: 30vw;
}

.intro img {
    width: 37vw;
    height: 50vh;
    padding-right: 2vw;
}

.home-social {
    display: flex;
    justify-content: center;
    padding-top: 2vh;
    width: 12vw;
}

.h-social {
    display: flex;
    height: 40vh;
    width: 20vw;

}

.svg-inline--fa {
    width: 3vw;
    height: 3vh;
    fill: red;


}

.writing {
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.home-img-right {
    /* margin-bottom: 10vh; */
}