.knowledge .heading {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2vh;
    margin-top: 5vh;
    text-align: center;
    color: #333;
}

.box {
    display: flex;
    justify-content: space-evenly;
}

.part2 .imagehtmlcss {
    width: 40vw;
    height: 60vh;
}

.part1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;
}

.part1 .topicName {
    font-size: 2.5rem;
}

.part1 .para {
    width: 40vw;
    text-align: left;
    font-size: 1.5rem;
    color: rgb(134, 142, 150);
}